
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

//@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar{
  padding: 20px 0 10px 20px;
}

.navbar-font{
  font-weight: bold;
  color: darkgoldenrod;
}

.navbar ul{
  padding-left: 2em;
}
.navbar-brand{
  font-weight: bolder;
  font-size: 28px;
}
.side{
  padding-left: 25%;
}
.btn-group{
  padding-top: 10px;
}
.left{
  margin-left: 15%;
}
.container-fluid{
  background: #e3e3e3;
}
section h3{
  font-size: 30px;

}
section{
  padding: 4em;
}
.second {
  padding: 2em;
}
.second a {
  color: blue;
}
.first{
  border-right: solid 1px lightblue;
}
.two{
  padding-right: 2em;
}
.bottom-foot{
  padding: 2em;
  background: black;
}
.footer{
  flex-direction: column;
  padding: 1em;
  margin: 1em;
}
.footer-item {
  list-style: none;
}

.footer-note{
  background-color: black;
}

.no-list-style{
  list-style: none;
}

.bottom{
  padding: 1em;
}
.lead{
  text-align: center;
  background: darkgoldenrod;
  color: black;
}
@media screen and (max-width: 600px), (max-width: 1200px){
  img {
    width: 100%;
    height: auto;
  }
  @media all and (min-width: 1001px) {
    img {
      width: 100%;
      height: auto;
    }
  }

  @media all and (max-width: 1000px) and (min-width: 700px) {
    img {
      width: 100%;
      height: auto;
    }
  }

  @media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
    img {
      width: 100%;
      height: auto;
    }
  }
}
.bottom-foot{
  margin-bottom: 0;
}

.down{
  padding-top: 0;
  //background-color: #ae971c;
  padding-bottom: 0;
}
.down img{
  //margin-left: 8em;
}
.font{
  padding: 4em;
  color: black;
}
.fa{
  padding-left: 4em;
}
.ost{
  padding: 1em;
}
.contact{
  margin-top: 0;
  padding-bottom: 2em;
}
.info{
  border: solid 1px darkgrey;
}
.community{
  background: url("/images/planting-super.jpg" ) no-repeat center fixed;
  background-size: cover;
  height: 300px;
}
.community h3{
  padding-top: 4em;
  text-align: center;
  color: darkgoldenrod;
}
.contact h3{
  color: darkgoldenrod;
}
label{
  color: darkgoldenrod;
}
.about h3, p{
  color: black;
}
.about{
  margin: auto;
}
.color{
  background-color: darkgoldenrod;
}

.footer-title{
  padding-left: 8%;
}

.bold-font{
  font-weight: bold;
}

.black-font{
  color: black;
}

.square-bullet{
  list-style: square;
}